<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="{{ touchsubmenucss }}" />
    </head>

    <body>
        <div class="wrapper">
            <div class="sub-col">
                <div class="top">
                    <div class="back"></div>
                    <div class="select">选择分类</div>
                </div>
                <div class="clear"></div>
                <div class="category">
                    <ul id="J_category" class="item">
                        <li style="background: #fdfdfd; color: #308dd3;">
                            一卡通
                        </li>
                        <li>门禁</li>
                        <li>邮件</li>
                        <li>网关</li>
                        <li>有线网络</li>
                        <li>无线网络</li>
                        <li>门户</li>
                        <li>网站群</li>
                        <li>日新学堂</li>
                        <li>aaa</li>
                    </ul>
                    <div id="J_popCategory" class="pop-category hidden">
                        <div
                            class="sub-item"
                            style="display:block;"
                            id="一卡通"
                        ></div>
                        <div
                            class="sub-item"
                            style="display:none;"
                            id="门禁"
                        ></div>
                        <div
                            class="sub-item"
                            style="display:none;"
                            id="邮件"
                        ></div>
                        <div
                            class="sub-item"
                            style="display:none;"
                            id="网关"
                        ></div>
                        <div
                            class="sub-item"
                            style="display:none;"
                            id="有线网络"
                        ></div>
                        <div
                            class="sub-item"
                            style="display:none;"
                            id="无线网络"
                        ></div>
                        <div
                            class="sub-item"
                            style="display:none;"
                            id="门户"
                        ></div>
                        <div
                            class="sub-item"
                            style="display:none;"
                            id="网站群"
                        ></div>
                        <div
                            class="sub-item"
                            style="display:none;"
                            id="日新学堂"
                        ></div>
                         <div
                            class="sub-item"
                            style="display:none;"
                            id="aaa"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ nav }}"></script>
        <script src="{{ jquery }}"></script>
        <script src="{{ touchsubmenujs }}"></script>
    </body>
</html>
