<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="{{ websubmenucss }}" />
    </head>

    <body>
        <div class="topLine"></div>
        <div class="top"></div>
        <div class="center">
            <div class="title">
                北京工业大学Callcenter咨询保修系统服务目录
            </div>
            <div class="menu">
                <div class="firstMenu">
                    <div class="one">
                        <div class="everyTitle">
                            一卡通
                        </div>
                        <ul id="一卡通"></ul>
                    </div>
                    <div class="two">
                        <div class="everyTitle">
                            门禁
                        </div>
                        <ul id="门禁"></ul>
                    </div>
                </div>
                <div class="secondMenu">
                    <div class="three">
                        <div class="everyTitle">
                            邮件
                        </div>
                        <ul id="邮件"></ul>
                    </div>
                </div>
                <div class="thirdMenu">
                    <div class="four">
                        <div class="everyTitle">
                            网关
                        </div>
                        <ul id="网关"></ul>
                    </div>
                    <div class="five">
                        <div class="everyTitle">
                            有线网络
                        </div>
                        <ul id="有线网络"></ul>
                    </div>
                    <div class="six">
                        <div class="everyTitle">
                            无线网络
                        </div>
                        <ul id="无线网络">
                            <li>aaa</li>
                            <li>aaa</li>
                            <li>aaa</li>
                            <li>aaa</li>
                            <li>aaa</li>
                            <li>aaa</li>
                        </ul>
                    </div>
                </div>
                <div class="fourthMenu">
                    <div class="seven">
                        <div class="everyTitle">
                            门户
                        </div>
                        <ul id="门户"></ul>
                    </div>
                    <div class="eight">
                        <div class="everyTitle">
                            网站群
                        </div>
                        <ul id="网站群"></ul>
                    </div>
                    <div class="nine">
                        <div class="everyTitle">
                            日新学堂
                        </div>
                        <ul id="日新学堂"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="">Copyright © 2017 Qunar.com</div>
            <div>
                京ICP备05021087 京公网安备110108901530号 营业执照信息
                保险经理资质（京）非经营性-2016-0110
            </div>
        </div>
        <script src="{{ nav }}"></script>
        <script src="{{ jquery }}"></script>
        <script src="{{ websubmenujs }}"></script>
    </body>
</html>
